.follower{
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0)
}

/*a big "net" to "catch" mouse movements*/
.net{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 0, 0, 0.137);
    pointer-events: none;
}