.stickyNote{
    width: 175px;
    height: 125px;
    margin: 20px;
    border: 1px solid black;

    background-color: rgb(255, 255, 98);
    color: black;
    box-shadow: 1px 1px 2px black;

    align-items: center;
    justify-content: center;
    position: relative;
}

.textArea{
    width: 95%;
    height: 95%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);

    border: none;
    resize: none;
}
.textArea:disabled{
    color: black;
}

.noteControl{
    width: 100%;
    height: 100%;

    position: absolute;
}
.noteControl:hover{
    cursor: grab;
}
.noteControl:active{
    cursor: grabbing;
}