.section{
    flex-direction: column;
    border: 2px dotted black;
    border-top: 0px;
    width: 100%;
}

.sectionTitle{
    text-align: center;
}

.title{
    color: red;
}

.notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.addNoteDiv{
    width: 175px;
    height: 125px;
    margin: 20px;
    border: 1px solid black;

    background-color: rgb(255, 255, 98);
    color: black;
    box-shadow: 1px 1px 2px black;

    align-items: center;
    justify-content: center;
}

.addNote{
    width: 80px;
    height: 50px;
}
