.section{
    flex-direction: column;
    border: 2px dotted black;
    border-top: 0px;
    width: 100%;
}

.titleDiv{
    align-items: center;
    margin-top: 10px;
}

.title{
    width: 50%;
    height: 50px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    resize: none;

    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.addNoteDiv{
    width: 175px;
    height: 125px;
    margin: 20px;
    border: 1px solid black;

    background-color: rgb(255, 255, 98);
    color: black;
    box-shadow: 1px 1px 2px black;

    align-items: center;
    justify-content: center;
}

.addNote{
    width: 80px;
    height: 50px;
}
