.section{
    flex-direction: column;
    border: 2px dotted black;
    border-top: 0px;
    width: 100%;
}

.sectionTitle{
    text-align: center;
}

.notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.addNoteDiv{
    justify-content: center;
    align-items: center;
}

.addNote{
    width: 80px;
    height: 50px;
}